{% extends "layouts/post.njk" %}

{% from "screenshots/macro.njk" import appScreenshots %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ appDocumentHeader({
        title: title | noOrphans,
        date: date,
        modified: modified,
        author: author,
        authors: authors,
        tags: tags
      }) }}
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% call appProseScope() %}
        {% if image -%}
          <figure>
            <img src="{{ image.src }}" alt="{{ image.alt }}">
            {% if image.caption -%}
            <figcaption>{{ image.caption }}</figcaption>
            {% endif -%}
          </figure>
        {%- endif %}

        {{ content }}

        {% for collection in screenshots %}
          {{ appScreenshots(collection) }}
        {% else %}
          {{ appScreenshots(screenshots) if screenshots }}
        {% endfor %}
      {% endcall %}
    </div>

    {% if aside or related or relatedUserNeeds %}
      <div class="govuk-grid-column-one-third-from-desktop">
        {% if aside or related %}
          {% include "layouts/shared/related.njk" %}
        {% endif %}
        {% if relatedUserNeeds %}
          {% if not(aside or related) %}<aside class="app-aside">{% endif %}
              <h2 class="app-aside__heading">
                Related user needs
              </h2>
              <div class="app-aside__body">
                <ul class="govuk-list">
                {% for need in relatedUserNeeds %}
                  {% for n in userNeeds %}
                    {% if n.id == need %}
                      <li>
                      <a href="/userNeeds/{{ need | slug }}" class="govuk-link">{{ n.id | extractNeedNo}}. {{ n.title}}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                </ul>
              </div>
          
          {% if not(aside or related) %}</aside>{% endif %}
          
        {% endif %}
      </div>
    {% endif %}

    
    
  </div>
{% endblock %}
